@font-face {
  font-family: "MyFont";
  src: url("fonts/my.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "MyFont", Arial, sans-serif;
  background: linear-gradient(180deg, #ff6842 0%, #ffb26b 100%);
  color: #000;
}

/* header */
header {
  background: #e22;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}
header .logo {
  font-size: 20px;
}
header nav a {
  color: white;
  text-decoration: none;
  margin-left: 18px;
  font-weight: 700;
}

footer {
  background-color: #ff3333;
  color: #fff;
  font-size: small;
  text-align: center;
  padding: 0.6%;
  margin-top: 2%;
}

.hero {
  margin: 2%;
  position: relative;
  display: inline-block;
  width: 100%;

  height: 710px;
  overflow: visible;
  display: block;
}

.hero .boom {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 0;
  pointer-events: none;
}
.scholota {
  position: absolute;
  top: 20%;
  left: 20px;
  width: 80%;
  height: 80%;
  object-fit: contain;
  z-index: 0;
  pointer-events: none;
}

.content {
  margin: 15% 0 0 0;
  text-align: center;
  padding: 20px 40px 60px;
}

.image-placeholder {
  background: #fff;
  border: 4px solid #000;
  width: 100%;
  height: 100%;
  margin: 10px auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border-radius: 5%;
}

.small-text {
  text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff,
    2px 2px 0 #fff;
  color: #4b00a0;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 30px;
  padding-bottom: 20px;
}

.text-blocks {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
}
.text-box {
  background: #fff;
  border: 3px dashed #4b00a0;
  width: 440px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 5%;
}
.text-box.big {
  width: 440px;
  height: 220px;
}
